body{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient( to bottom, rgba(245, 229, 14, 0.897), rgba(255, 67, 10, 0.822),rgba(165, 62, 2, 0.829), rgba(206, 60, 2, 0.76));
    max-width:100%;
    margin:50px ;
    padding:20px ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}





.footer{
    background-color: rgba(36, 46, 77, 0.712);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
.footer-contenido{
    max-width: 100px;
    margin: auto;
}
.redes a {
    color: rgb(7, 197, 245);
    margin: 0 10 px;
    text-decoration: none;
    font-weight: bold;
}
.redes a:hover{
    color: yellow;
}
