
body{
    background:linear-gradient( to bottom, rgb(2, 4, 107), rgba(95, 228, 7, 0.842),rgba(0, 204, 85, 0.671), blue);
    max-width:100%;
    margin:50px ;
    padding:20px ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
h1{
    text-align: center;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px 
    rgba(73, 2, 240, 0.911);
}

p{
font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer{
    background-color: rgba(36, 46, 77, 0.712);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
.footer-contenido{
    max-width: 100px;
    margin: auto;
}
.redes a {
    color: rgb(7, 197, 245);
    margin: 0 10 px;
    text-decoration: none;
    font-weight: bold;
}
.redes a:hover{
    color: rgb(0, 255, 34);
}